/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import '_null';

html {
  font-size: 16px;
}
body {
  line-height: 1;
  font-family: 'Poppins', sans-serif;
  color: #323232;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

[class*='__container'] {
  margin: 0px auto;
  max-width: 1140px;
  padding: 0px 15px;
}

.titles {
  font-weight: 700;
  font-size: 42px;
  line-height: 148%;
  letter-spacing: 0.02em;
}

.button {
  font-weight: 700;
  color: #fff;
  text-align: center;
  border-radius: 29px;
  background: #f78434;
  padding: 21px 39px;
  transition: all 0.5s ease 0s;
  &:hover {
    color: #323232;
    background: #fff;
  }
}

.header {
}
.main {
  flex: 1 1 auto;
}

.we-provide {
  // .we-provide__container

  &__container {
  }

  // .we-provide__content

  &__content {
    padding: 100px 0px 100px 0px;
  }

  // .we-provide__companies

  &__companies {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -31.6px;
    row-gap: 31.6px;
  }

  // .we-provide__company

  &__company {
    flex: 1 1 25%;
    padding: 0px 31.6px;
    min-width: 230px;
  }
}
.company-we-provide {
  display: flex;
  column-gap: 12px;
  // .company-we-provide__logo

  &__logo {
    display: flex;
    // flex: 0 0 42px;
    // height: 42px;
    justify-content: center;
    align-items: center;
  }

  // .company-we-provide__image

  &__image {
    max-width: 100%;
    // max-height: 42px;
  }

  // .company-we-provide__icon

  &__icon {
    display: flex;
    align-items: center;
  }
}

.start-using {
  // .start-using__container

  &__container {
  }

  // .start-using__content

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #58bebf;
    // padding: 59px 0px 0px 0px;
  }

  // .start-using__image

  &__image {
    padding: 59px 0px 0px 0px;
    flex: 1 1 50%;
    align-self: flex-end;
  }

  // .start-using__item

  &__item {
    max-width: 100%;
    border: 20px solid #fff;
    border-left: none;
    border-bottom: none;
    border-radius: 0px 24px 0px 0px;
    box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
    background: #fff;
  }

  // .start-using__body

  &__body {
    flex: 1 1 50%;
    // min-width: 400px;
  }
}
.body-start-using {
  // display: flex;
  // justify-content: center;
  flex-direction: column;
  padding: 33px 95px 33px 95px;
  // .body-start-using__title

  &__title {
    color: #fff;
    // max-width: 340px;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  // .body-start-using__text

  &__text {
    line-height: 169%;
    letter-spacing: 0.07em;
    color: #fff;
    // max-width: 320px;
    &:not(:last-child) {
      margin-bottom: 29px;
    }
  }

  // .body-start-using__buttons

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
  }

  // .body-start-using__button

  &__button {
    // .body-start-using__button_play

    &_play {
      padding: 21px 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      &::before {
        content: '';
        display: block;
        height: 12px;
        width: 12px;
        background: url('../assets/start-using/icons/play.svg') 0 0 no-repeat;
      }
    }
  }
}

.who-do-we-serve {
  // .who-do-we-serve__container

  &__container {
  }

  // .who-do-we-serve__content

  &__content {
  }

  // .who-do-we-serve__title

  &__title {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // .who-do-we-serve__text

  &__text {
    text-align: center;
    line-height: 169%;
    letter-spacing: 0.07em;
    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }

  // .who-do-we-serve__items

  &__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    margin: 0px -15px;
  }

  // .who-do-we-serve__item

  &__item {
    flex: 1 1 50%;
    padding: 0px 15px;
  }
}

.item-who-do-we-serve {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 40px 52px -22px rgba(0, 0, 0, 0.08);
  background: #fff;
  padding: 39px 88px 40px 88px;
  height: 100%;

  &__icon {
    flex: 0 0 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__item {
    max-width: 100%;
    max-height: 70px;
  }

  // .item-who-do-we-serve__title

  &__title {
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }

  // .item-who-do-we-serve__text

  &__text {
    flex: 1 1 auto;
    line-height: 169%;
    letter-spacing: 0.07em;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  // .item-who-do-we-serve__button

  &__button {
    // align-self: center;
  }
}

.why-choose-us {
  // .why-choose-us__container

  &__container {
  }

  // .why-choose-us__content

  &__content {
  }

  // .why-choose-us__title

  &__title {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 58px;
    }
  }

  // .why-choose-us__items

  &__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 35px;
    margin: 0px -8.25px;
  }

  // .why-choose-us__item

  &__item {
    flex: 1 1 25%;
    padding: 0px 8.25px;
    min-width: 261px;
  }
}
.item-why-choose-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // .item-why-choose-us__icon

  &__icon {
    flex: 0 0 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  // .item-why-choose-us__item

  &__item {
    max-width: 100%;
    max-height: 70px;
  }

  // .item-why-choose-us__title

  &__title {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.02em;
    color: #323232;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  // .item-why-choose-us__text

  &__text {
    flex: 1 1 auto;
    line-height: 169%;
    letter-spacing: 0.07em;
    color: #323232;
  }
}
.footer {
}
