/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import '_null';

html {
  font-size: 16px;
}
body {
  line-height: 1;
  font-family: 'Poppins', sans-serif;
  color: #323232;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

[class*='__container'] {
  margin: 0px auto;
  max-width: 1140px;
  padding: 0px 15px;
}

[class*='_ibg'] {
  position: relative;
}

[class*='_ibg'] img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 148%;
  letter-spacing: 0.02em;
}

.button {
  font-weight: 700;
  color: #fff;
  text-align: center;
  border-radius: 29px;
  background: #f78434;
  padding: 21px 39px;
  transition: all 0.5s ease 0s;
  &:hover {
    color: #323232;
    background: #fff;
  }
}

.header {
}
.main {
  flex: 1 1 auto;
}

.about {
  // .about__container

  &__container {
  }

  // .about__content

  &__content {
    padding: 100px 0px 100px 0px;
  }

  // .about__companies

  &__companies {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -31.6px;
    row-gap: 31.6px;
  }

  // .about__company

  &__company {
    flex: 1 1 25%;
    padding: 0px 31.6px;
    min-width: 230px;
  }
}
.company-about {
  display: flex;
  column-gap: 12px;
  // .company-about__logo

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .company-about__image

  &__image {
    max-width: 100%;
    max-height: 42px;
  }

  // .company-about__icon

  &__icon {
    display: flex;
    align-items: center;
  }
}

.using {
  padding: 0px 0px 1px 0px;
  // .using__container

  &__container {
  }

  // .using__content

  &__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    background: #58bebf;
    margin: 0px 0px -233px 0px;
  }

  // .using__image

  &__image {
    padding: 59px 0px 0px 0px;
    flex: 1 1 50%;
    align-self: flex-end;
  }

  // .using__item

  &__item {
    max-width: 100%;
    border: 20px solid #fff;
    border-left: none;
    border-bottom: none;
    border-radius: 0px 24px 0px 0px;
    box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
    background: #fff;
  }

  // .using__body

  &__body {
    position: relative;
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 54.7%;
      height: 100%;
      margin: -18% 0px 0px -34%;
      background: url('../assets/using/img/oval.png') 0 0 / 100% no-repeat;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 40.5%;
      height: 100%;
      margin: 0px 0px 0px 0px;
      background: url('../assets/using/img/oval2.png') 0 0 / 100% no-repeat;
    }
  }
}
.body-using {
  flex-direction: column;
  max-width: 435px;
  padding: 35px 35px 35px 35px;
  // .body-using__title

  &__title {
    color: #fff;
    // max-width: 340px;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  // .body-using__text

  &__text {
    line-height: 169%;
    letter-spacing: 0.07em;
    color: #fff;
    max-width: 320px;
    &:not(:last-child) {
      margin-bottom: 29px;
    }
  }

  // .body-using__buttons

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
  }

  // .body-using__button

  &__button {
  }

  .play-button {
    padding: 21px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    column-gap: 8px;
    // .play-button__icon
    &:hover .play-button__icon path {
      fill: #f78434;
    }
    &__icon {
    }
  }
}

.serve {
  background: #f5f6fa;
  padding: 0px 0px 1px 0px;
  // .serve__container

  &__container {
  }

  // .serve__content

  &__content {
    padding: 377px 0px 0px 0px;
    margin: 0px 0px -182px 0px;
  }

  // .serve__title

  &__title {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // .serve__text

  &__text {
    text-align: center;
    line-height: 169%;
    letter-spacing: 0.07em;
    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }

  // .serve__items

  &__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    margin: 0px -15px;
  }

  // .serve__item

  &__item {
    flex: 1 1 50%;
    padding: 0px 15px;
  }
}

.item-serve {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background: #fff;
  padding: 39px 88px 40px 88px;
  height: 100%;
  transition: all 0.5s ease 0s;

  &:hover &__icon svg path {
    fill: white;
  }

  &:hover {
    background: #f78434;
    box-shadow: 0 40px 52px -22px rgba(0, 0, 0, 0.08);
  }
  &:hover &__title {
    color: #fff;
  }
  &:hover &__text {
    color: #fff;
  }

  &__icon {
    flex: 0 0 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  // .item-serve__title

  &__title {
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }

  // .item-serve__text

  &__text {
    flex: 1 1 auto;
    line-height: 169%;
    letter-spacing: 0.07em;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  // .item-serve__button

  &__button {
    &:hover {
      color: #323232;
      background: #fff;
    }
  }
}

.choose {
  // .choose__container

  &__container {
  }

  // .choose__content

  &__content {
    padding: 295px 0px 111px 0px;
  }

  // .choose__title

  &__title {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 58px;
    }
  }

  // .choose__items

  &__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 35px;
    margin: 0px -8.25px;
  }

  // .choose__item

  &__item {
    flex: 1 1 25%;
    padding: 0px 8.25px;
    min-width: 261px;
  }
}
.item-choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // .item-choose__icon

  &__icon {
    flex: 0 0 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  // .item-choose__item

  &__item {
    &:hover circle {
      transition: all 0.5s ease 0s;
      fill: #f78434;
      fill-opacity: 1;
    }
    &:hover path {
      transition: all 0.5s ease 0s;
      fill: #fff;
    }
    &:hover ellipse {
      transition: all 0.5s ease 0s;
      fill: #fff;
    }
  }

  // .item-choose__title

  &__title {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.02em;
    color: #323232;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  // .item-choose__text

  &__text {
    flex: 1 1 auto;
    line-height: 169%;
    letter-spacing: 0.07em;
    color: #323232;
  }
}

.customers {
  // .customers__container

  &__container {
  }

  // .customers__content

  &__content {
    padding: 59px 0px 58px 0px;
  }

  // .customers__header

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 30px;
    &:not(:last-child) {
      margin-bottom: 58px;
    }
  }

  // .customers__title

  &__title {
    max-width: 455px;
  }

  // .customers__text

  &__text {
    align-self: center;
    line-height: 169%;
    letter-spacing: 0.07em;
    color: #606060;
    max-width: 398px;
  }

  // .customers__items

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    row-gap: 30px;
  }

  // .customers__item

  &__item {
    flex: 1 1 33.333%;
    padding: 0px 15px;
  }
}

.item-customers {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 5px;
  min-width: 290px;
  transition: all 0.5s ease 0s;
  @media (min-width: 1110px) {
    max-width: 350px;
  }
  &:hover {
    box-shadow: 0 10px 52px 0 rgba(0, 0, 0, 0.08);
  }
  &:hover &__profile &__city {
    color: #f78434;
  }

  // .item-customers__image

  &__image {
    padding: 58.28% 0px 0px 0px;
  }

  // .item-customers__img

  &__img {
  }

  // .item-customers__body

  &__body {
    flex: 1 1 auto;
    padding: 31px 29px 31px 29px;
    display: flex;
    flex-direction: column;
  }

  // .item-customers__text

  &__text {
    flex: 1 1 auto;
    line-height: 169%;
    letter-spacing: 0.07em;
    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  // .item-customers__profile

  &__profile {
  }

  // .item-customers__name

  &__name {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  // .item-customers__city

  &__city {
    line-height: 169%;
    letter-spacing: 0.07em;
    color: #58bebf;
    transition: all 0.5s ease 0s;
  }
}

.footer {
}
