@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Anton:400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400&display=swap&subset=cyrillic-ext");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  margin: 0px auto;
  max-width: 1200px;
  padding: 0px 15px;
<<<<<<< HEAD
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.offer {
  background: url("../assets/offer/burning-man.jpg") 50% 0/cover no-repeat;
}
.offer__content {
  padding: 328px 0px 322px 0px;
}
.offer__subtitle {
  color: #ffffff;
  font-family: "Anton", sans-serif;
  font-size: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.offer__subtitle:not(:last-child) {
  margin-bottom: 20px;
}
.offer__title {
  color: rgb(255, 255, 255);
  font-family: "Anton", sans-serif;
  font-size: 100px;
  text-transform: uppercase;
}
.offer__title:not(:last-child) {
  margin-bottom: 44px;
}
.offer__button {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-family: "Anton", sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid rgb(255, 255, 255);
  padding: 20px 49px 19px 49px;
}

.about__content {
  padding: 113px 0px 113px 0px;
}
.about__title {
  font-family: "Anton", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
}
.about__title:not(:last-child) {
  margin-bottom: 56px;
}
.about .about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  margin: 0px -15px;
}
.about .about__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0px 15px;
}
.about .item-about__title {
  font-family: "Anton", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}
.about .item-about__text {
  line-height: 163%;
  text-align: justify;
}
.about .item-about__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  margin: 0px -15px;
}
.about .item-about__photo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0px 15px;
}
.about .item-about__image {
  max-width: 100%;
=======
>>>>>>> d700861 (init: start cutspace project)
}